body {
  background-color: rgb(167,213,163);
  margin: 0px 0px 0px 0px;
  font-family: Andale Mono;
}

/* header {
  background-color: rgb(187,89,147);
  position:fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  grid-area: head;
  font-size: 17px;
  color: white;
} */

footer {
  background-color: rgb(167, 37, 62);
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  grid-area: footer;
  font-size: 17px;
  color: white;
}

.footer-item {
  padding: 30px 20px 30px 20px;
}

.footer-item img {
  height:40px;
  width:40px;
}

.header-item:hover {
  box-shadow: 0 2px 0 #FFF inset;
  color: rgb(116,26,99);
}

.header-item {
  padding: 30px 20px 30px 20px;
  color: rgb(231,131,186);
}

a {
  text-decoration: none;
  color: inherit;
}

#loc {
  color: rgb(231, 50, 35);
}

#content {
  display: grid;
  grid-template-rows:100%;
}


#home-content {
  display: flex;
  justify-content:center;
  flex-wrap:wrap-reverse;
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
}

#info {
  color: rgb(167, 37, 62);
  font-size: 40px;
  text-align:center;
  padding-top:50px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 25px;
}

h1 {
  color: rgb(231, 50, 35);
  word-wrap: break-word;
}


.content-item {
  padding-top: 100px;
  color: white;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

@media (max-width: 700px) {
  #fox {
    display:none;
  }
  #home-content {
    display: flex;
    justify-content:center;
    flex-flow: column;
    padding-top: 15px;
    width: 100vw;
    height: 100vh;
  }
}
/*
.faq-item {
  background-color: gray;
  border-radius: 5%;
  padding:5px;
  margin:5px;
}


#fox {
  height:300px;
  width:300px;
} */

#countdown {
  color:rgb(228,126,110);
}

/* #faq-content {
  display: flex;
  flex-direction: column;
}

.collapsed {
  height:20px;
  overflow: hidden;
}

.expanded {
  height:auto;
}

.team-member {
  border-radius:100%;
  border-color: blue;
  border-style: double;
  width:50px;
  height:50px;

}

#about-content {
  color: rgb(203,47,90)
} */
